.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width: 90%;
  }

.username-text{
    margin-bottom: 5px;
    padding: 15px;
    font-size: 20px;
    color: #adadad;
}

.post-text{
    background-color: #242424;
    font-size: 20px;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: aliceblue;
    color: whitesmoke;
    margin-bottom: 25px;
    padding: 15px;
    overflow-wrap: break-word;
  }
  